name: build

on:
  push:
    branches:
      - master
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        php: ['8.5', '8.4', '8.3', '8.2', '8.1', '8.0']

    name: PHP ${{ matrix.php }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php }}
          extensions: zip, curl, xdebug, intl
          coverage: xdebug

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction

      - name: Execute tests
        run: composer test
        env:
          XDEBUG_MODE: coverage

      - name: Run static analysis
        run: composer static-analysis
